@font-face {
   font-family: 'HLR'; 
   font-style: normal; 
   font-weight: 400; 
   src: url(/fonts/IBMPlexSerif-Light.otf) format('opentype');
}
@font-face {
   font-family: 'HLR'; 
   font-style: italic; 
   font-weight: 400; 
   src: url(/fonts/IBMPlexSerif-LightItalic.otf) format('opentype');
}
@font-face {
   font-family: 'HLR'; 
   font-style: normal; 
   font-weight: 800; 
   src: url(/fonts/texgyreheros-bold.otf) format('opentype');
}
@font-face {
   font-family: 'HLR'; 
   font-style: italic; 
   font-weight: 800; 
   src: url(/fonts/texgyreheros-bolditalic.otf) format('opentype');
}
@font-face {
   font-family: 'CLIG-PRE'; 
   font-style: normal; 
   font-weight: 400; 
   src: url(/fonts/IBMPlexMono-Regular.otf) format('opentype');
}
@font-face {
   font-family: 'CLIG-PRE'; 
   font-style: normal; 
   font-weight: 800; 
   src: url(/fonts/IBMPlexMono-Bold.otf) format('opentype');
}

* {
   font-family: inherit;
   font-size: inherit;
   font-weight: inherit;
   line-height: inherit;
   letter-spacing: inherit;
   vertical-align: baseline;
    
   margin: 0;
   padding: 0;
    
   color: inherit;
   text-decoration: none;
   text-underline-offset: 0.2em;
   text-decoration-thickness: 1px;
}

html {
   font-family: 'HLR';
   font-weight: 400;
   font-size: 1vw;
   -webkit-font-smoothing: antialiased;
   text-align: left;
}

body {
   font-size: 3.9rem;
   line-height: 1.5;
}
@media (min-width: 600px) {
   body {
      font-size: 3.6rem;
   }
}
@media (min-width: 750px) {
   body {
      font-size: 2.5rem;
   }
}
@media (max-width: 750px) and (orientation: landscape) {
   body {
      font-size: 2.4rem;
   }
}
@media (min-width: 751px) and (max-width: 999px) and (orientation: landscape) {
   body {
      font-size: 2.1rem;
   }
}
@media (min-width: 1000px) {
   body {
      font-size: 1.7rem;
   }
}
@media (min-width: 1200px) {
   body {
      font-size: 22px;
   }
}
@media (min-width: 1600px) {
   body {
      font-size: 25px;
   }
}

@media (min-width: 901px) {
   body {
      display: grid;
      grid-template-columns: 25% 75%;
      grid-gap: 0;
   }
   #TableOfContents {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      box-sizing: border-box;
      margin-top: 100vh;
   }
   #TableOfContents > ul {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      padding: calc(1.5em *0.5) 0;
      height: 100vh;
      box-sizing: border-box;
      overflow: auto;
   }
   main {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      box-sizing: border-box;
   }
}

@media (min-width: 901px) and (min-height: 800px) {
   #TableOfContents > ul {
      padding-top: 1.5em;
   }
}

#TableOfContents {
   text-align: left;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   z-index: 100;
   -webkit-backdrop-filter: blur(3px);
   backdrop-filter: blur(3px);
}

#menu-button {
   display: none;
}

@media (max-width: 900px) {
   .menu-open {
      overflow: hidden;
   }
   #menu-button {
      display: inline-block;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      text-align: right;
      padding: calc(1.5em *0.5) 1.5em;
      z-index: 200;
      border: none;
      background: none;
      cursor: pointer;
      font-weight: 800;
   }
   .menu-open #menu-button {
      display: none;
   }
   #TableOfContents {
      display: none;
      position: fixed;
      overflow: scroll;
      padding: calc(1.5em *0.5) 0 1.5em;
      font-weight: 800;
      line-height: 1.2;
   }
   .menu-open #TableOfContents {
      display: block;
   }
}

#TableOfContents ul {
   list-style: none;
}

@media (min-width: 901px) {
   #TableOfContents > ul {
      max-width: 18em;
      margin: 0 auto;
   }
   #TableOfContents a {
      display: inline-block;
      opacity: 0.7;
      transition: opacity 0.3s ease;
   }
}

#TableOfContents > ul > li {
   padding: 0 1.5em;
}

#TableOfContents ul ul {
   padding: calc(1.5em * 0.25) 0 calc(1.5em * 0.25) 1.5em;
   font-size: 66%;
}

#TableOfContents ul ul li {
   margin-top: 0;
   border-top: none;
   padding: calc(1.5em * 0.05) 0;
}

}

#TableOfContents a:hover,
#TableOfContents a:focus {
   opacity: 1;
   text-decoration: underline;
}

#TableOfContents .active > a {
   opacity: 1;
}

@media (max-width: 900px) {
   #TableOfContents a {
      font-size: 250%;
      opacity: 1;
      letter-spacing: -0.02em;
   }
}

main {
   padding: 0 1.5em;
}

@media (min-width: 901px) {
   main > section > section {
      padding-left: 25%;
   }
}

main > section > h1 {
   position: relative;
   height: 75vh;
   max-width: 10em;
   margin: 0;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   /* text-align: center; */
   box-sizing: border-box;
   padding: calc(1.5em * 0.1) 0 0;
   font-size: 14vw;
   left: -0.025em;
   line-height: 1;
   letter-spacing: -0.05em;
   font-weight: 800;
}
@media (max-width: 750px) and (orientation: landscape) {
   main > section > h1 {
      font-size: 10vw;
   }
}
@media (min-width: 1000px) {
   main > section > h1 {
      font-size: 150px;
   }
}
@media (min-width: 120vh) {
   main > section > h1 {
      font-size: 16vh;
   }
}

main > section > h1 + p {
   position: relative;
   height: 25vh;
   display: table-cell;
   vertical-align: bottom;
   margin: 0 auto;
   box-sizing: border-box;
   padding: 0 0 1.5em;
   max-width: 35em;
   font-weight: 800;
}

main > section > h1 + p a {
   display: inline;
}

.github-button {
   margin: 1.5em auto;
}

/* HACK: this makes the table of contents highlighting work when you click on a link in the table of contents */
section {
   margin-bottom: 1px;
}

section section:after {
   content: " ";
   display: block;
   width: 100%;
   height: calc(33vh - (1.5em * 2));
}

h2, h3 {
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   margin: 0 auto 0;
   padding: calc(1.5em *0.5) 7em calc(1.5em *0.5) 0;
   z-index: 50;
   font-weight: 800;
}

h3 {
   white-space: nowrap;
}

@media (min-width: 901px) and (min-height: 800px) {
   h2, h3 {
      padding-top: 1.5em;
      padding-right: 0;
   }
}

h3:before {
   content: attr(data-parent-heading)" ";
   display: inline-block;
   font-weight: 400;
   padding-right: 0.5em;
   position: relative;
   opacity: 0.7;
}

h2:after, h3:after {
   content: " ";
   position: absolute;
   top: calc(1.5em *-0.5);
   left: 0;
   right: 0;
   bottom: 0;
   z-index: -1;
}

h4, h5, h6 {
   padding: calc(1.5em *0.5) 0;
   font-weight: 800;
}

h1 a.permalink {
   display: none;
}

a.permalink::before {
   content: "#";
}

a.permalink {
   font-weight: 400;
   text-decoration: none;
   margin-left: 0.5em;
   opacity: 0.7;
}

@media (max-width: 900px) {
   a.permalink {
      display: none;
   }
}

a.permalink:hover,
a.permalink:focus {
   opacity: 1;
   text-decoration: none;
}

a.permalink:hover::after,
a.permalink:focus::after {
   content: " permalink ";
   font-size: 60%;
   text-transform: uppercase;
   vertical-align: middle;
}

main p, 
main ol, 
main ul {
   margin: 1.5em 0;
   font-weight: 400;
}

main ol li, 
main ul li {
   padding-left: 3em;
}

main ul li {
   list-style: none;
}

main ul li:before {
   content: " ";
   position: relative;
   float: left;
   margin-left: -1.5em;
   top: 0.45em;
   width: 0.6em;
   height: 0.6em;
   border-radius: 50%;
}

main ol {
   counter-reset: ordered-list;
}

main ol > li {
   list-style: none;
   counter-increment: ordered-list;
}

main ol > li:before {
   content: counter(ordered-list)". ";
   float: left;
   min-width: 3em;
   margin-left: -3em;
   text-align: center;
}

main a {
   text-decoration: underline;
}

main strong {
   font-weight: 800;
}

h2+p, h3+p {
   margin-top: calc(1.5em *0.5);
}

code {
   font-family: 'CLIG-PRE';
   padding: 0 0.25em;
}

pre {
   display: block;
   position: relative;
   width: 100%;
   box-sizing: border-box;
   margin: 7rem auto;
   padding: 2.5em 5px 5px;
   font-size: 14px;
   line-height: 1.8;
   color: white;
   border-radius: 5px;
}

pre code {
   display: block;
   overflow-x: auto;
   padding: 3em 3rem;
   font-weight: 400;
   border-radius: 0 0 3px 3px;
}

pre code strong {
   font-weight: 800;
}

@media (min-width: 750px) {
   #command-line-interface-guidelines section h2,
   #command-line-interface-guidelines section h3,
   #command-line-interface-guidelines section h4,
   #command-line-interface-guidelines section h5,
   #command-line-interface-guidelines section h6,
   #command-line-interface-guidelines section p,
   #command-line-interface-guidelines section ol,
   #command-line-interface-guidelines section ul,
   #command-line-interface-guidelines section pre,
   #command-line-interface-guidelines section iframe {
      margin-left: auto;
      margin-right: auto;
      max-width: 78rem;
   }
}

@media (min-width: 900px) {
   #command-line-interface-guidelines section h2,
   #command-line-interface-guidelines section h3,
   #command-line-interface-guidelines section h4,
   #command-line-interface-guidelines section h5,
   #command-line-interface-guidelines section h6,
   #command-line-interface-guidelines section p,
   #command-line-interface-guidelines section ol,
   #command-line-interface-guidelines section ul,
   #command-line-interface-guidelines section pre,
   #command-line-interface-guidelines section iframe {
      max-width: 60rem;
   }
}

footer {
   padding: 1.5em;
   grid-column: 1 / 3;
}
footer p {
   font-size: 50%;
   font-style: italic;
   opacity: 0.7;
}
footer a {
   font-style: normal;
}

#command-line-interface-guidelines section iframe {
   display: block;
   margin: 0 auto!important;
   width: 100%!important;
}


body {
   color: rgba(255,0,0,1);
   background: rgba(255,255,255,1);
}
#TableOfContents {
   background: rgba(255,255,255,0.6);
}
h2:after, h3:after {
   background: rgba(255,255,255,1);
   box-shadow: 0 0 25px rgba(255,255,255,1);
}
main ul li:before {
   background: rgba(255,0,0,1);
}
code {
   background: rgba(255,0,0,0.3);
}
pre {
   background: rgba(255,0,0,0.3);
}
pre code {
   color: rgb(255,255,255,1);
   background: rgba(126,0,0,0.5);
}
@media (prefers-color-scheme: dark) {
   body {
      color: rgba(255,255,255,1);
      background: rgba(255,0,0,1);
   }
   #TableOfContents {
      background: rgba(255,0,0,0.6);
   }
   h2:after, h3:after {
      background: rgba(255,0,0,1);
      box-shadow: 0 0 25px rgba(255,0,0,1);
   }
   main ul li:before {
      background: rgba(255,255,255,1);
   }
   code {
      background: rgba(126,0,0,0.3);      
   }
   pre {
      background: rgba(126,0,0,0.3);
   }
   pre code {
      background: rgba(126,0,0,0.5);
   }
}

a:focus, button:focus {
   color: rgb(0,0,0);
   background: yellow;
   outline: none;
   text-decoration: underline;
}
